[tool.poetry]
name = "harborapi"
version = "0.1.4"
description = "Async Harbor API v2.0 wrapper"
readme = "README.md"
authors = ["Peder Hovdan Andresen <pederhan@usit.uio.no>"]

[tool.poetry.dependencies]
python = "^3.8"
httpx = "^0.23.0"
pydantic = "^1.9.1"
backoff = "^2.1.2"
loguru = "^0.6.0"

[tool.poetry.dev-dependencies]
pytest = "7.1.2"
mypy = "^0.961"
black = "^22.6.0"
pre-commit = "^2.19.0"
pytest-cov = "^3.0.0"
hypothesis = "^6.48.1"
pytest-asyncio = "^0.18.3"
pytest-httpserver = "^1.0.4"
mkdocs = "^1.3.0"
mkdocs-material = "^8.3.9"
mkdocstrings = { version = "^0.19.0", extras = ["python"] }

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.datamodel-codegen]
field-constraints = true
snake-case-field = true
strip-default-none = false
target-python-version = "3.8"
use-schema-description = false # bad docs coverage and numerous spelling errors (as of 2022-06-29)

[tool.isort]
profile = "black"

[tool.pytest.ini_options]
asyncio_mode = "auto"

[tool.coverage.report]
include = ["./harborapi/*.py", "./tests/*.py"]

[tool.mypy]
strict = true
exclude = ["tests/"]
